<div id="destination-{{ destination.destination_pk }}" class="destination">  

    <!-- CONFORMATION DIALOG FOR DELETION MODAL -->
    <div id="modal-{{ destination.destination_pk }}" class="modal-overlay hidden">
        <div class="dialog-container">
            <p>Are you sure that you want to delete the destination: <strong>{{ destination.destination_title }}?</strong></p>
            <div>
                <button class="secondary_btn" onclick="toggleModal('{{ destination.destination_pk }}')">No, return til home</button>
                <button id="confirm-delete-btn" class="primary-btn" mix-delete="/user_destinations/{{ destination.destination_pk }}">Yes, delete destination</button>
            </div>
        </div>
    </div>

    <!-- DESTINATION CARD -->
    <div class="destination-container">
        <h2>{{ destination.destination_start_date }} - {{ destination.destination_end_date }}</h2>
        <div class="flex-container">
            <div class="destination-info">
                <h3>{{ destination.destination_title }}</h3>
                <div class="flex">
                    <img src="/static/svg/map-pin.svg" alt="Map pin" width="20" height="20">
                    <p>{{ destination.destination_location }}, {{ destination.destination_country }}</p>
                </div>
            </div>
            <div class="events-container">
                <button class="delete-btn" onclick="toggleModal('{{ destination.destination_pk }}')"></button>
                <a class="edit" href="/update-destination/{{ destination.destination_pk }}">
                    <img src="/static/svg/pen.svg" alt="Pen" width="48" height="48">
                </a>
            </div>
    
        </div>
        
        <a class="secondary_btn end" href="/travel-details/{{ destination.destination_pk }}">
            View details
        </a>
    </div>
</div>