{% include "_header.html" %}

<main>
<section class="user-container">
        <div>
            <h1>Welcome {{ user.user_first_name }}!</h1>
        </div>
    </section>

    <section class="wrapper">
        <div id="destinations" class="destination-wrapper">
            {% for destination in destinations %}
                {% include "___destination.html" %}
                <div class="sticky-container">
                    <a class="primary-btn shadow" href="/create-destination">+ Add new trip</a>
                </div>
            {% else %}
                <div class="empty-state">
                    <p>You have not logged any travels yet.</p>
                    <div class="sticky-container">
                        <a class="primary-btn" href="/create-destination">Log your first trip!</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

{% include "_footer.html" %}
    
