{% include "_header.html" %}

<main>
<section class="user-container">
    <div>
        <h1>Welcome {{ user.user_first_name }}!</h1>
        <p>Start logging your travels!</p>
    </div>
</section>
<section class="wrapper">
        <div id="destinations" class="destination-wrapper">
            {% for destination in destinations %}
                {% include "___destination.html" %}
            {% else %}
                <p>You have not logged any travels yet.</p>
            {% endfor %}
            
        </div>
    </section>
<div class="sticky-container">
    <a href="/create-destination">Log new travel destination</a>
</div>
</main>

{% include "_footer.html" %}
    
